<nav class="navbar" style="background-color: #eaa0a2">
  <div class="container-fluid">
    <img
      width="55"
      height="55"
      src="https://img.icons8.com/officel/80/show-password.png"
      alt="show-password"
      style="margin-left: 20px"
    />
    <a
      class="navbar-brand"
      style="
        color: rgb(0, 0, 0);
        margin-right: 85%;
        font-size: 22px;
        font-weight: 600;
      "
      >Secure Password</a
    >
  </div>
</nav>

<div class="Parent my-3">
  <div class="title">Password Generator</div>

  <div class="button">
    <input
      #Mypassword1
      type="text"
      [value]="Mypassword"
      class="MypassInputBox"
      placeholder="Select password length"
      readonly
      required
    />

    <button (click)="copy(Mypassword1)" class="btn">
      <i class="fa-regular fa-paste fa-2xl"></i>
    </button>
  </div>

  <div class="passSettings">
    <div class="changeLength">
      <input
        #length
        value="0"
        (change)="ChangedLength(length.value)"
        type="range"
        placeholder="enter length of Password"
      />
      <label for="length">length </label> <span class="spanTag">{{ newLength }}</span>
    </div>

    <div class="changeLength">
      <input #LetterCheckbox type="checkbox" (change)="IncludeLetters()" />
      <label for="LetterCheckbox">Letters</label>
    </div>

    <div class="changeLength">
      <input #NumberCheckbox type="checkbox" (change)="IncludeNumbers()" />
      <label for="NumberCheckbox">Numbers</label>
    </div>
    <div class="changeLength">
      <input #Characters type="checkbox" (change)="IncludeCharacters()" />
      <label for="Characters">Characters</label>
    </div>
  </div>
  <div class="passStrength" #passwordStrength>Strength :{{ strength }}</div>
  <button (click)="genratePassword()" class="btn-genratePassword">
    Genrate Password
  </button>
</div>

<footer>
  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic">About us</div>
        <p>
          Secure password is used to Generate a  random password and using the following methods and functions & settings.      
        </p>
      </div>
      <div class="lower">
        <div class="topic">Contact us</div>
        <div class="phone">
          <a href="#"><i class="fas fa-phone-volume"></i>+007 9089 6237</a>
        </div>
        <div class="email">
          <a href="#"><i class="fas fa-envelope"></i>abc@gmail.com</a>
        </div>
      </div>
    </div>
 
    <div class="right box">
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p>Copyright © 2023 <a href="#">Secure password</a> All rights reserved</p>
  </div>
</footer>
